.singleContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-evenly;
  width: 100vw;
}

.singlePostCard {
  align-items: center;
  align-self: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px 0 30px 0;
  max-width: 1450px;
  width: 85vw;
}

.thumbnailHeadingWrapper {
  display: flex;
  margin: 20px 0 20px 0;

  .singlePostThumbnail {
    border-radius: 50%;
    height: 250px;
    left: 20%;
    position: relative;
    top: 15%;
    width: 250px;
    z-index: 2;
  }

  .singlePostHeading {
    transform: translate(120%, 45%);
    white-space: nowrap;
    z-index: 2;
  }

  .singlePostBlob {
    height: 250px;
    position: relative;
    right: 20%;
    width: auto;
  }
}

.content {
  align-self: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 900px;
  padding: 20px;
  width: 75vw;
}

.singleArrowTextWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin: 20px 0 20px 0;

  p {
    margin: 0 0 0 15px;
    padding: 0;
    text-decoration: underline;
    white-space: nowrap;
    font-size: 20px;
  }
}

// Different colors for each grade.

.firstGrade {
  background-color: #f4dee4;
  color: #345a79;

  .singlePostHeading {
    color: white;
  }

  p {
    color: #345a79;
  }

  .singlePostBlob,
  .singleArrow {
    fill: #345a79;
  }
}

.secondGrade {
  background-color: #fdf6d1;
  color: #375f75;

  .singlePostHeading {
    color: white;
  }

  p {
    color: #375f75;
  }

  .singlePostBlob,
  .singleArrow {
    fill: #375f75;
  }
}

.thirdGrade {
  background-color: #e0ebf2;
  color: #2f5d7d;

  .singlePostHeading {
    color: white;
  }

  p {
    color: #2f5d7d;
  }

  .singlePostBlob,
  .singleArrow {
    fill: #2f5d7d;
  }
}

.fourthGrade {
  background-color: #e3f5d6;
  color: #325f76;

  .singlePostHeading {
    color: white;
  }

  p {
    color: #325f76;
  }

  .singlePostBlob,
  .singleArrow {
    fill: #325f76;
  }
}

.fifthGrade {
  background-color: #ffd08e;
  color: #425f6a;

  .singlePostHeading {
    color: white;
  }

  p {
    color: #425f6a;
  }

  .singlePostBlob,
  .singleArrow {
    fill: #425f6a;
  }
}

.sixthGrade {
  background-color: #2f698d;
  color: #d5e1e8;

  .singlePostHeading {
    color: #2f698d;
  }

  .goBack {
    color: #d5e1e8;
  }

  .singlePostBlob,
  .singleArrow {
    fill: #d5e1e8;
  }
}

.seventhGrade {
  background-color: #b64259;
  color: #ecd5de;

  .singlePostHeading {
    color: #b64259;
  }

  .goBack {
    color: #ecd5de;
    text-decoration: none;
  }

  .singlePostBlob,
  .singleArrow {
    fill: #ecd5de;
  }
}

.eighthGrade {
  background-color: #7c3d77;
  color: #e1d4e4;

  .singlePostHeading {
    color: #7c3d77;
  }

  p {
    color: #e1d4e4;
  }

  .singlePostBlob,
  .singleArrow {
    fill: #e1d4e4;
  }
}

.ninthGrade {
  background-color: #05395e;
  color: #c9d3df;

  .singlePostHeading {
    color: #05395e;
  }

  p {
    color: #c9d3df;
  }

  .singlePostBlob,
  .singleArrow {
    fill: #c9d3df;
  }
}
