.blobAndHeadingWrapper {
  position: relative;
  text-align: center;

  .greenBlobDesktop {
    width: 100%;
    height: auto;
  }

  .greenBlobMobile {
    display: none;
  }

  h2 {
    font-size: 35px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -70%);
  }
  p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// Aligns .cardContainer to center.
.containerAlignment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Holds all cards.
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1476px;
  height: auto;
  justify-content: space-evenly;
  align-self: center;
}

.singleCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  max-width: 350px;
  height: 550px;
  text-align: center;
  flex-grow: 0;
  flex-basis: 30%;
  margin: 50px 10px 0 10px;
  border-radius: 8px;
  align-items: center;
}

.arrowTextWrapper {
  position: absolute;
  bottom: 2px;
  right: 2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 0 20px 15px 0;

  p {
    margin: 0 0 0 15px;
    padding: 0;
    text-decoration: underline;
  }
}

.cardThumbnail {
  width: 300px;
  height: 255px;
  border-radius: 6px;
  margin: 20px 0 20px 0;
}

.textWrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  > h4 {
    font-size: 35px;
    text-shadow: 0 0 7px black;
  }
}

.excerpt {
  margin: 10px 0 0 0;
  width: 300px;
  height: auto;
}
