$darkBlue: #31566f;
$lightBlue: #e0ebf2;
$lightGreen: #c3d7b4;
$lightOrange: #ffd08e;
$lightPink: #e9c0c9;
$lightYellow: #fbe88a;
$mediumBlue: #1084be;

nav,
footer {
  background-color: $darkBlue;
}

.childrenWrapper {
  background-color: $mediumBlue;
}

.body {
  background-color: $lightBlue;
}

.menuLinks {
  &:hover {
    color: $lightGreen;
  }
}
