$lightPink: #e9c0c9;
$darkBlue: #31566f;
$lightGreen: #c3d7b4;
$lightBlue: #e0ebf2;
$lightOrange: #ffd08e;
$mediumBlue: #1084be;
$lightYellow: #fbe88a;

nav {
  background-color: $darkBlue;
}

.body {
  background-color: $lightBlue;
}

footer {
  background-color: $darkBlue;
}
