@font-face {
  font-family: "Antropos";
  src: url("../fonts/Antropos.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
}

h1 {
  font-family: "Antropos";
}

.menuLinks,
.childLinks,
.intranetButton,
.applyButton,
button {
  font-family: "Poppins";
}
