footer {
  height: 100%;
  padding: 50px;

  .footer-name {
    padding: 50px;
  }
  .contact {
    letter-spacing: 0.3px;
    padding: 20px;
  }

  .bottom {
    margin-top: 40px;
    .idun-login {
      color: white;
      font-weight: 200;
      font-size: larger;
      text-decoration: underline;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .icons {
      display: flex;
      justify-content: center;
      align-items: center;

      .social {
        width: 50px;
        margin: 10px;
        cursor: pointer;
      }
    }
  }

  li {
    list-style-type: none;
    font-weight: 200;
    color: white;
    margin-top: 5px;
  }
}
