nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  height: 100px;

  .logo {
    width: 300px;
    margin: 10px;
  }

  h1 {
    font-size: 20px;
  }

  .menuLinks {
    margin-right: 16px;
    white-space: nowrap;
    &.childLinks {
      white-space: nowrap;
    }
  }

  .hamburgerIcon,
  .hamburgerButton,
  .closeMenuButton,
  .closeMenuIcon {
    display: none;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .dropdownButton {
    background: none;
    border: none;
  }

  .parentAndChildrenWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .subMenuBox {
    padding: 1rem;
    border-radius: 8px;
    z-index: 1;
    top: 2rem;
    position: absolute;
    display: none;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    transition: opacity 0.4s linear;

    &.active {
      display: block;
      z-index: 1;
      pointer-events: all;
      opacity: 1;
    }
  }
}
