$layout-breakpoint-small: 560px;

@media (max-width: $layout-breakpoint-small) {
  // Hamburger menu on.
  .overlay {
    // position: fixed;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
    display: block;
    z-index: 2;

    nav {
      display: block;
      width: 0;
      height: 0;
      // Odd solution to make menu items step down but it works.
      margin: 50px 0 0 0;
      padding: 20px;
    }

    .navFlexDesktop {
      flex-direction: column;
      width: 70vw;
      //align-self: center;
      align-items: flex-start;
    }

    .caret {
      display: block;
    }

    .menuLinks {
      display: flex;
      // display: block;
      white-space: nowrap;
      margin: 30px 0 0 30px;
    }

    .subMenuBox {
      position: relative;
      left: 55px;
      width: 100vw;
      top: 5px;
    }

    .applyButton {
      padding: 5px;
      margin: 30px 0 0 30px;
    }

    .closeMenuIcon,
    .closeMenuButton {
      display: block;
      width: 35px;
      height: auto;
      position: absolute;
      top: -17px;
      left: 160px;
    }

    main,
    footer,
    .logo,
    .hamburgerButton,
    .hamburgerIcon {
      display: none;
    }
  }

  // Hamburger menu off.
  nav {
    display: flex;
    position: sticky;
    top: 0;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

    .logo {
      width: 200px;
      height: auto;
    }

    .applyButton {
      margin: 0 10px 0 0;
    }

    .hamburgerButton,
    .hamburgerIcon {
      background: none;
      border: none;
      display: block;
      height: auto;
      position: sticky;
      margin: 0 15px 0 0;
      text-decoration: none;
      top: 25px;
      width: 35px;
    }

    .menuLinks,
    .caret {
      display: none;
    }
  }
}
