$layout-breakpoint-small: 560px;

@media (max-width: $layout-breakpoint-small) {
  footer {
    padding: 50px;

    .footer-name {
      padding: 10px;
    }
    .contact {
      letter-spacing: 0.1px;
      margin: -40px;
      // Yeah, I know...
      margin-top: 20px;
      font-size: 1.2rem;

      li {
        list-style-type: none;
        font-weight: 200;
        margin-top: 2px;
      }
    }

    .bottom {
      margin-top: 30%;
      .idun-login {
        font-weight: 200;
        font-size: small;
        text-decoration: underline;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .info {
        color: white;
        font-weight: 100;
        font-size: small;
        padding: 4px;
        margin: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .icons {
        display: flex;
        justify-content: center;
        align-items: center;

        .social {
          width: 50px;
          margin: 10px;
          cursor: pointer;
        }
      }
    }
  }
}
