$layout-breakpoint-small: 560px;

@media (max-width: $layout-breakpoint-small) {
  .singleContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-evenly;
    width: 100vw;
    align-self: center;
  }

  .singlePostCard {
    align-items: center;
    align-self: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 0 10px 0;
    width: 85vw;
  }

  .thumbnailHeadingWrapper {
    display: flex;
    //width: 100%;
    // height: auto;
    // margin: 20px 0 20px 0;

    .singlePostThumbnail {
      border-radius: 50%;
      height: 170px;
      // left: 30%;
      position: relative;
      width: 170px;
    }

    .singlePostHeading {
      position: relative;
      transform: translate(-10%, 75%);
      white-space: nowrap;
      z-index: 2;
    }

    .singlePostBlob {
      width: 150px;
      position: relative;
      transform: translate(-40%, 25%);
      //display: none;
    }
  }

  .content {
    align-self: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 5px;
  }

  .singleArrowTextWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin: 20px 0 20px 0;

    p {
      margin: 0 0 0 15px;
      padding: 0;
      text-decoration: underline;
      white-space: nowrap;
      font-size: 20px;
    }
  }
}
