$layout-breakpoint-small: 560px;

@media (max-width: $layout-breakpoint-small) {
  // Hamburger menu off.
  nav {
    display: flex;
    position: sticky;
    top: 0;
    height: 100px;
    align-items: center;

    // Hide irrelevant content.
    .fullMenuContainer {
      display: none;
    }

    // Show relevant content.
    .brand {
      width: 200px;
      margin: 0 0 0 10px;
      left: 10px;
      height: auto;
    }

    .hamburgerOpenButton,
    .hamburgerOpenIcon {
      background: none;
      border: none;
      display: block;
      height: auto;
      position: sticky;
      text-decoration: none;
      margin: 0 20px 0 0;
      top: 25px;
      width: 35px;
    }

    .burgerWrapper {
      width: 35px;
      height: auto;
      margin: 0 20px 0 0;
    }

    .primaryLinks,
    .caretBlue,
    .caretWhite,
    .intranetLinkHeader {
      display: none;
    }
  }

  // Hamburger menu on.
  .overlay {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
    display: block;
    z-index: 2;
    overflow: hidden;

    nav {
      width: 100vw;
      display: flex;
      position: sticky;
      top: 0;
      height: 100px;
      align-items: center;

      // Hide irrelevant content.
      .hamburgerOpenButton,
      .hamburgerCloseButon,
      .caretWhite {
        display: none;
      }

      // Show relevant content.
      .hamburgerCloseIcon,
      .hamburgerCloseButton,
      .fullMenuContainer,
      .caretBlue,
      .primaryLinks,
      .intranetLinkHeader {
        display: block;
      }

      .brand {
        width: 200px;
        margin: 0 0 0 10px;
        left: 10px;
        height: auto;
      }

      .hamburgerCloseIcon,
      .hamburgerCloseButton {
        background: none;
        border: none;
        display: block;
        height: auto;
        position: sticky;
        text-decoration: none;
        top: 25px;
        width: 35px;
      }

      .burgerWrapper {
        width: 35px;
        height: auto;
        margin: 0 20px 0 0;
      }

      .fullMenuContainer {
        flex-direction: column;
        justify-content: center;
        left: 0;
        margin: 0 0 0 0;
        position: absolute;
        top: 105px;
        width: 100vw;
      }

      .caretBlue {
        height: auto;
        width: 20px;
      }

      .caretLinkWrapper {
        align-items: center;
        border-radius: 4px;
        display: flex;
        height: 50px;
        margin: 3px;
        padding: 10px;
        width: 95vw;
      }

      .primaryLinks {
        margin: 0 0 0 10px;
      }

      .singleSubLinkContainer {
        align-items: center;
        background-color: #fafaff;
        border-radius: 4px;
        bottom: 25px;
        display: flex;
        height: 30px;
        left: 2px;
        margin: 4px 0 0 0;
        position: relative;
        width: 95vw;
      }

      .subLink {
        color: #05395e;
        margin: 0 0 0 30px;
      }

      .subMenuBox {
        position: relative;
        padding: 0;
        top: 30px;
        background-color: transparent;
      }

      .intranetApplyWrapper {
        width: 100vw;
        justify-content: space-evenly;
        height: 100px;
        margin: 0;
      }

      .applyButton {
        width: 85px;
      }
    }
  }
}
