@font-face {
  font-family: "antropos";
  src: url("../fonts/antropos.woff2") format("woff2");
}

@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins-regular.woff2") format("woff2");
}

@font-face {
  font-family: "poppins bold";
  src: url("../fonts/poppins-bold.woff2") format("woff2");
}

h1,
h2,
h4 {
  font-family: "antropos";
}

// Argumenten.
a:link {
  text-decoration: none;
}

.primaryLinks,
.subLink,
.intranetLinkHeader,
.applyButton,
.applyButtonBrand,
p,
button {
  font-family: "poppins";
}

.subLink,
.primaryLinks,
.intranetLinkHeader {
  text-decoration: none;
  white-space: nowrap;
  &:hover {
    text-decoration: underline;
  }
}

.intranetLinkHeader {
  text-decoration: underline;
}

.idun-login {
  font-family: "poppins";
  font-weight: 100;
  font-size: larger;
  text-decoration: underline;
}

$layout-breakpoint-small: 560px;

@media (max-width: $layout-breakpoint-small) {
  .intranetLinkHeader {
    text-decoration: underline;
    font-weight: 600;
    font-size: 18px;
  }

  .applyButton {
    font-size: 18px;
    font-weight: 600;
  }

  .arrowTextWrapper > p {
    font-family: "poppins";
    font-weight: 600;
    text-decoration: underline;
    font-size: 18px;
  }
}
